* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

/* Header */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    height: 50px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    
}

/* Dropdown */

.menu {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 22px;
}

.hamburger {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    background: rgb(0, 115, 27);
    width: 100%;
    height: 4px;
    border-radius: 5px;
    z-index: 1;
    transition: 0.3s;
}

.hamburger:before,
.hamburger:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    background: rgb(0, 115, 27);
    transition: 0.3s;
}

.hamburger:before {
    top: 8px;
}

.hamburger:after {
    top: -8px;
}

#toggle {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
}

.menu-items {
    position: fixed;
    top: 0;
    right: -300px;
    background: #5f85b0;
    width: 100%;
    max-width: 300px;
    height: 100vh;
    padding-top: 50px;
    transition: 0.5s;
}

.menu-items li {
    list-style-type: none; 
}

.menu-items li a {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-decoration: none;
    font-weight: 900;
    color: white;
    padding: 15px 20px 15px 100px;
    line-height: 1;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: -1.5px;
    transition: 0.9s;
}

.menu-items li a:hover {
    padding-left: 40px !important;
    transition: 0.3s;
    
}

.menu input:checked ~ .menu-items {
    right: 0;
}

.menu input:checked ~ .menu-items li a {
    padding: 15px 20px 15px 30px;
    
}

.menu input:checked ~ .hamburger,
.menu input:checked ~ .hamburger:before,
.menu input:checked ~ .hamburger:after {
    background: white;
}

.menu input:checked ~ .hamburger:before {
    transform: translate3d( 9px , -4px , 0) rotate(-45deg) scaleX(0.5);
}

.menu input:checked ~ .hamburger:after {
    transform: translate3d( 9px , 4px , 0) rotate(45deg) scaleX(0.5);
}

a {
    text-decoration: none;
    font-weight: bold;
}

p {
    color: #424144;
}

nav {
    width: 100%;
    position: sticky;
    top: 0;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
}

.content {

    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #424144;
    height: 90vh;
}

.content h1 {
    font-size: 40px;
}

/* About Us section */

.about-content {
    background-size: cover;
    background-repeat: no-repeat;
    
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    color: #424144;
    height: 90vh;
    text-align: center;
}

.info-content {
	text-align: center;
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.card-info {
    padding: 100px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    background-color: white;
}

.about-content .card-info h2 {
   font-size: 40px;
}

.about-content .card-info p {
    font-size: 25px;
}

/* Contact section */

.contact-content {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    text-align: center;
}

.contact-content h1 {
    font-size: 40px;
    font-weight: bold;
}

.contact-info {
    width: 500px;
    display: block;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-card {
    width: 100%;
    position:relative;
    flex: 1;
    max-width: 500px;
    height: 140px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-content {
    padding: 1;
    
}

.icon {
    font-size: 32px;
    color: rgb(0, 115, 27);
    transition: .3s linear;
}

.contact-card:hover .icon {
    transform: scale(4);
    opacity: 0;
}

.card-content h3,
.card-content span {
    position:absolute;
    justify-content: center;
    transform: translateX(-50%);
    font-size: 16px;
    opacity: 0;
}

.card-content h3 {
    top: 20px;
    text-transform: uppercase;
    color: #424144;
}

.card-content span {
    bottom: 20px;
    color: #424144;
    font-weight: 500;
}

.contact-card:hover h3 {
    opacity: 1;
    top: 46px;
    transition: .3s linear .3s;
}

.contact-card:hover span {
    opacity: 1;
    bottom: 46px;
    transition: .3s linear .3s;
}


@media screen and (max-width:900px) {
    .contact-card{
        flex: 100%;
        max-width: 500px;
    }
}

.pheading {
    text-align: center;
    margin: 50px 0;
    color: #424144;
}

/* Products */

.sec {
    padding: 10px 5%;

}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.products .card {
    width: 310px;
    background: whitesmoke;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}

.products .card img {
    height: 250px;
    width: 100%;

}

.products .card .desc {
    padding: 5px 20px;
}

.products .card .title {
    font-weight: 900;
    font-size: 20px;
    color: #424144;
    padding: 0 20px;
}

.products .card .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
}

.products .card .box .price {
    color: rgb(0, 115, 27);
    font-size: 20px;
    font-weight: bold;
}

.products .card .box .btn {
    font-size: 13px;
    color: rgb(0, 115, 27);
    padding: 10px 18px;
    font-weight: 900;
    border: 1px solid rgb(0, 115, 27);
    border-radius: 20px;
}

.products .card .box .btn:hover {
    cursor: pointer;
    background-color: rgb(0, 115, 27);
    color: whitesmoke;
}


/* Slideshow */


.products:after {
    content: "";
    display: table;
    clear: both;
}
  
  /* Modal background */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.85);
}
  
/* Modal content "image" */

.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    height: 750px;
    width: 100%;
    max-width: 930px;
}

.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
  
/* Hide slides by default */

.slides {
    display: none;
}
  
.prev,
.next {
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 50px 50px 0;
    user-select: none;
    -webkit-user-select: none;
}
  
.next {
    right: 0;
    border-radius: 50px 0 0 50px;
}
  
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
  
/* Current modal */

.numbertext {
    color: black;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  
img.hover-shadow {
    transition: 0.3s;
}
  
.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* footer */

footer {
    background-color: whitesmoke;
    height: 10vh;
}

footer p {
    text-align: center;
    line-height: 10vh;
}

footer p a {
    text-decoration: none;
    color: rgb(0, 115, 27);
    font-weight: bold;
}

